<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Python glasgow</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="alternate" type="application/rss+xml" title="Python Glasgow Meetup RSS Feed" href="http://www.google.com/calendar/feeds/19d0eal34nt9boelm74n7p88vg@group.calendar.google.com/public/basic?futureevents=true"/>
    <link rel="alternate" type="text/calendar" title="Python Glasgow Meetup iCal Feed" href="https://www.google.com/calendar/ical/19d0eal34nt9boelm74n7p88vg%40group.calendar.google.com/public/basic.ics"/>

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='ug.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='ico/apple-touch-icon-57-precomposed.png') }}">
  </head>

  <body>

    <div class="container-narrow container">

      <div class="masterhead">
        <h1>Python Glasgow</h1>
        <h1><small>The user group for Pythonistas in Glasgow.</small></h1>
      </div>

      <div class="row-fluid marketing">
        {% block content %}{% endblock %}
      </div>

      <div id="navbar" class="navbar">

        <div class="navbar-inner">

          <div class="container" style="width: auto;">
            <ul class="nav">
              <li><a href="http://twitter.com/#!/pythonglasgow">Follow our Twitter</a></li>
              <li><a href="irc://irc.freenode.net/python-scotland">Chat on IRC</a></li>
              <li><a href="http://mail.python.org/mailman/listinfo/glasgow">Mail the list</a></li>
              <li><a href="http://github.com/python-glasgow">Fork our GitHub</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="http://www.pythonedinburgh.org/">Head east to Edinburgh</a></li>
            </ul>
          </div>
        </div><!-- /navbar-inner -->
      </div><!-- /navbar -->

    </div>


  </body>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='rainbow/rainbow-custom.min.js') }}"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36677785-1']);
    _gaq.push(['_setDomainName', 'pythonglasgow.org']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</html>