{% extends "base/base.html" %}

{% block content %}

    <div class="row intro">
      <h3>When and Where?</h3>

      <p> Python Glasgow meets on the <strong>2<sup>nd</sup> Tuesday</strong> of each
      month. Other events such as talks and dojos will be announced on the
      <a href="http://mail.python.org/mailman/listinfo/glasgow">mailing
      list</a>, <a href="https://twitter.com/pythonglasgow">twitter account</a>
      and listed below.</p>
    </div>

    <div class="row">
      <div class="text-center">
        <a class="twitter-timeline"  href="https://twitter.com/pythonglasgow" data-widget-id="522750941775142914">Tweets by @pythonglasgow</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>

    <div class="row events">

      <h3>What events are coming up?</h3>

      {% if upcoming_events|count == 0 %}

        <p>
          There are no meetings arranged in the next 60 days. Send an email to
          the <a href="http://mail.python.org/mailman/listinfo/glasgow">mailing
          list</a> if you would like to propose or arrange an event!
        </p>

      {% elif upcoming_events|count == 1 %}

        <p>{% if upcoming_events[0].metadata.link %}<a href="{{ upcoming_events[0].metadata['link'] }}">{% endif %}
          The next meeting is a <strong>{{upcoming_events[0].title}}
          </strong> on {{upcoming_events[0].date_string()}} in
          <strong>{{upcoming_events[0].where}}</strong>.
          {% if upcoming_events[0].metadata['link'] %}</a>{% endif %}
        </p>

      {% else %}

        <p>
          There are {{ upcoming_events|length }} events soon!
        </p>

        <ul>
          {% for e in upcoming_events %}
            <li>
              {% if e.metadata.link %}<a href="{{ e.metadata['link'] }}">{% endif %}
              <strong>{{e.title}}</strong> on {{e.date_string()}} in {{e.where}}
              {% if e.metadata['link'] %}</a>{% endif %}
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      <p>
        Our meetup calendar is syndicated as <a href="http://www.google.com/calendar/feeds/19d0eal34nt9boelm74n7p88vg@group.calendar.google.com/public/basic?futureevents=true">rss</a>
        and <a href="https://www.google.com/calendar/ical/19d0eal34nt9boelm74n7p88vg%40group.calendar.google.com/public/basic.ics">ical</a>,
        or you can go and have a <a href="https://www.google.com/calendar/embed?src=19d0eal34nt9boelm74n7p88vg%40group.calendar.google.com&ctz=Europe/London&mode=AGENDA">look</a>.
      </p>

    </div>

    <div class="row sponsors">

      <div class="col-md-2 col-md-offset-3">
        <h4>Book Sponsor</h4>
        <a href="http://www.oreilly.com/">
            <img class="sponsors" src="http://www.oreilly.com/partner_file/orm_partner_meerkats_125x125.png" alt="O'Reilly kindly send us books now and then to give out at events" />
        </a>
      </div>

      <!--
      <div class="col-md-2">
        <h4>Dojo Sponsor</h4>
        <a href="http://www.twig-world.com/">
            <img class="sponsors" src="{{ url_for('static', filename='sponsor/twig-logo.png') }}" alt="Twig world" />
        </a>
      </div>
      -->

      <div class="col-md-2">
        <h4>Talk Sponsor</h4>
        <a href="http://www.skyscanner.net/">
            <img class="sponsors" src="{{ url_for('static', filename='sponsor/skyscanner.jpeg') }}" alt="SkyScanner host our talk nights" />
        </a>
      </div>

      <div class="col-md-2">
        <h4>Dojo Sponsor</h4>
        <a href="https://www.fanduel.com/">
            <img class="sponsors" src="{{ url_for('static', filename='sponsor/fanduel.png') }}" alt="Fan Duel host out Dojos" />
        </a>
      </div>

    </div>

{% endblock %}
