header {
    text-align: center;
    color: #2C3E50;
    background: #fff;
}

.members img {
    width: 100px;
    padding: 0;
    margin: 0;
}

.sponsors img {
    max-width: 120px;
    margin: 1px;
}

header .intro-text .name {
    font-size: 2.75em;
}

@media(min-width:768px) {
    header .container {
        padding-top: 150px;
        padding-bottom: 0px;
    }

}

section {
    padding: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
header .intro-text .name,
.navbar {
    text-transform: none;
}
