<!DOCTYPE html> 
<html> 
<head> 
	
	<title>Python Edinburgh &ndash; Error</title> 
	
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	
	<link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
	
	<!--[if lt IE 8]>
	<link href="/media/css/blueprint/ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	
	<link href="/media/css/blueprint/screen.css" rel="stylesheet" type="text/css" />
	<link href="/media/css/main.css" rel="stylesheet" type="text/css" />
	
</head> 
<body>
	
<div class="container prepend-top">
	
	<div class="prepend-1 span-22 last">
		<h1>Error!</h1>	
		<p>
			{{message}}
		</p>
		
	</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17948973-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body> 
</html>