<!DOCTYPE html> 
<html> 
<head> 
	
	<title>Python Edinburgh</title> 
	
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	
	<link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
	
	<!--[if lt IE 8]>
	<link href="/media/css/blueprint/ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	
	<link href="/media/css/blueprint/print.css" rel="stylesheet" type="text/css" />
	<link href="/media/css/blueprint/screen.css" rel="stylesheet" type="text/css" />
	<link href="/media/css/main.css" rel="stylesheet" type="text/css" />
	
</head> 
<body>
	
	<div class="container prepend-top">
	
		<h1>Python Edinburgh Placeholder</h1>
	
	</div>
	
</body> 
</html>