{% extends "base.html" %}

{% block content %}

	<div class="prepend-1 span-22 last">
		
		<h1>Python Edinburgh</h1>
		<h3>The user group for Pythonistas in Edinburgh.</h3>
		
		<p>
			We're a user group providing social, professional and technical
			support for Python programmers based in Edinburgh. We meet in the
			pub monthly, and are planning other events in future!
		</p>
		
	</div>
	
	<div class="prepend-top prepend-1 span-22 last">
		
		<h4>When and Where</h4>
		
		<p>
			Python Edinburgh meets on the <strong>4th Tuesday</strong> of 
			each month. Other events such as talks and sprints will be hosted
			less regularly.
		</p>
		
		<p> 
			The next meeting is a <strong>{{ next_event.title }}</strong> on the
			<strong>{{ next_event.date_string() }}</strong> in {{ next_event.where }}
			at {{ next_event.time_string() }}.
		</p>
		
		<p>
			Our meetup calendar is syndicated as <a href="http://www.google.com/calendar/feeds/practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk%40group.calendar.google.com/public/basic?futureevents=true">rss</a>
			and <a href="http://www.google.com/calendar/ical/practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk%40group.calendar.google.com/public/basic.ics?futureevents=true">ical</a>,
			or you can go and have a <a href="http://www.google.com/calendar/b/0/embed?src=practicalpoetry.co.uk_sbqp5tpnm93b3bleap3mqf67jk@group.calendar.google.com&mode=AGENDA">look</a>.
		</p>
		
	</div>
	
	<div class="prepend-top prepend-1 span-22 last">
		
		<h4>Find out more?</h4>
		
		<ul>
			<li>
				<a href="http://twitter.com/pythonedinburgh">
				Follow us on twitter</a></li>
			<li>
				<a href="http://mail.python.org/mailman/listinfo/edinburgh">
				Joining the mailing list</a> or have a look through the 
				<a href="http://mail.python.org/pipermail/edinburgh/">archives</a>
			</li>
			<li>
				<a href="irc://irc.freenode.net/python-edinburgh">
				#python-edinburgh on IRC</a>
            </li>
            <li>
                <a href="/wiki/">Read the wiki</a>
            </li>
		</ul>
		
	</div>
	
	{% if tweets %}
	<div class="prepend-top prepend-1 span-22 last">
		
		<h4>Recent Tweets</h4>
		
		<ul>
		{% for tweet in tweets %}
			<li>{{ tweet }}</li>
		{% endfor %}
		</ul>
		
	</div>
	{% endif %}
	
{% endblock %}
